<html>
    <h1>
        Request Form
    </h1>

    <form  method="post" >
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="First Name"><br><br>

        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" placeholder="Last Name"><br><br>

        <label for="reason">Reason:</label><br>
        <input type="textarea" id="reason" name="reason" placeholder="Reason"><br><br>


        <!-- <input type="text" placeholder="First Name" >
        <input type="text" placeholder="Last Name" > -->

        <input type="submit">
    </form>
</html>